body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.mainContainer{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.navbar{
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    display: flex;
    transition: transform 0.5s ease-in-out 0.25s;
    background-color: black;
    z-index: 3;
    box-sizing: border-box;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    border-left: 3px solid white;
}

.dropLinks{
    width: 100%;
    position: absolute;
    bottom: 0;
    translate: 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    overflow-y: hidden;
    height: 0;
    background-color: black;
    will-change: transform;
    transition: height 0.5s ease-in-out;
    color: white;
}

.dropLinks a, .dropLinks hr{
    display: inline-block;
}

.dropLinksView{
    --totalCompHeight: 0;
    height: var(--totalCompHeight);
}

.dropLinks hr{
    width: 35%;
}

.title{
    --speed: 2.5s;
    width: 45%;
    margin-left: 20px;
    font-size: 3rem;
    white-space: nowrap;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.title span{
   margin: 0 10px; 
}

.slider{
    animation: var(--speed) slide infinite linear;
    animation-play-state: running; 
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.links{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-left: 4rem;
    margin-right: 2rem;
}

.links a, .dropLinks a{
    cursor: default;
    user-select: none;
    transition: color 0.1s ease-in-out;
    will-change: transform;
    color: inherit;
    color: rgba(255, 255, 255, 0.479);
    text-decoration: none;
}

.links a:hover, .dropLinks a:hover{
    color: rgba(255, 255, 255, 0.162);
}

.navLinks{
    transition: all 0.1s ease-in-out !important;
    cursor: pointer !important;
    position: relative;
    color: white !important;
}

.navLinks:visited{
    color: white !important;
}

.navLinks:hover{
    color: red !important;
    scale: 1.2 !important;
}

.navLinks:active{
    color: rgba(255, 0, 0, 0.395) !important;
}

.underline{
    position: absolute;
    width: 0%;
    height: 2px;
    --bC: "white";
    background-color: var(--bC);
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
}

.hamburger{
    display: none;
}

.hamburger button{
    margin-right: 20px;
    height: 40%;
    width: 35px;
    padding: 2px;
    background-color: transparent;
    border: solid;
    border-color: transparent;
    border-width: 2px;
    border-radius: 3px;
}

.activeBurger{
    border-color: white !important;
}

.hamburger button i{
    font-size: 1.5rem;
    color: white;
}

.particleImage{
    --topOff: 0;
    --leftOff: 0;
    position: absolute;
    width: 48px;
    height: 48px;
    opacity: 1;
    top: var(--topOff);
    left: var(--leftOff);
    transition: opacity 0.3s;
    z-index: 4;
    pointer-events: none;
}

.loadContainer{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: black;
    transition: opacity 0.5s linear;
    pointer-events: none;
}

.loadGone{
    opacity: 0;
    visibility: none;
}

@media screen and (min-width: 1101px){
    .dropLinks{
        display: none;
    }
}

@media screen and (max-width: 1100px){
    .links{
        display: none;
    }
    .hamburger{
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
    }
    
    .title{
        width: 70%;
    }
    
    .navbar{
        border: none;
    }
    
    /* .navbar::after{
        content: "";
        position: absolute;
        display: block;
        bottom: -16px;
        width: 100%;
        height: 40px;
        background-color: black;
        z-index: -1;
        filter: blur(10px);
    } */
}

@media screen and (max-width: 690px){
    .title{
        font-size: 2rem;
    }
}

@media screen and (max-width: 460px) {
    .title {
        font-size: 1.4rem;
    }
}

